<div class="application">

  <div class="container-fluid">
    {{#dashboard-row width=row1}}
      {{dashboard-card}}
    {{/dashboard-row}}

    {{#dashboard-row width=row2}}
      {{dashboard-card}}
    {{/dashboard-row}}
  </div>

</div>


<!--<script type="text/javascript" src="../../assets/lib/holderjs/holder.js"></script>-->
<!--<script>-->
<!--Holder.add_theme("white", { background:"#fff", foreground:"#a7a7a7", size:10 });-->
<!--</script>-->
